[Desktop Entry]
Version=1.0
Type=Application
Name=OpenterfaceQT
Exec=openterface-wrapper.sh
Icon=openterfaceQT
Comment=OpenterfaceQT Application
Categories=Utility;
Terminal=false
StartupNotify=true
